<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 20.02.2019, 19:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam <br>
                venenatis vestibulum. Donec id elit non mi porta gravida <br>
                at eget metus. Fusce dapibus, tellus ac cursus commodo, <br>
                tortor mauris condimentum nibh, <br>
                ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 20.02.2019, 19:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
                <br>vestibulum. Donec id elit non mi porta gravida at eget metus.
                <br>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                nibh, ut f.</p>
        </div>

        <div>
            <p>published: 20.02.2019, 19:34</p>
            <h2><a href="">My first post</a></h2>
            <p>git commit <br>
                 git pull</p>
        </div>
    </body>
</html>